# Database (Neon PostgreSQL)
# DATABASE_URL  = connection pooling URL (untuk runtime / query biasa)
# DIRECT_URL    = direct connection URL (untuk prisma migrate)
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require"

# Next.js
NEXTAUTH_SECRET="your-secret-here"
NEXTAUTH_URL="http://localhost:3000"
